a{
  color: #00c3c6;
}

#headerSectionWork{
  position: relative;
  -webkit-animation: bringToCenter 0.5s;
          animation: bringToCenter 0.5s;
  top: -40px;
  left:10px;
}
#headerSectionWork:after{
  content: '';
  position: absolute;
  background-color: tomato;
  top: 35px;
  left: 10px;
  height: 3px;
  width: 120px;
  opacity: 0.8;
  box-shadow: 1px 1px 0.5px 0.5px white;
  -webkit-animation: bringToCenterFromRight 0.5s;
          animation: bringToCenterFromRight 0.5s;
}

.section{
  clear: both;
	padding: 0px;
	margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

.single-section{
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.single>div{
  float: none !important;
  margin: 0 auto !important;
}

.mobile>div>img{
  height: 500px;
  width: 250px;
}

.work-div{
  width: 49%;
  text-align: center;
  max-width: 100%;
  float: left;
  margin-right: 10px;
  display:block;
  margin-bottom: 60px;
  transform: translate(2000px,2000px);
}
.work-div.emplace{
  transform: translate(0px,0px);
  transition: all .3s;
}

.work-category{
  color: white;
  font-size: 30px;
  clear: both;
}


#websites{
  transform:translateY(300px);
  opacity:0;
}
#websites.popped{
  transform:translateY(0px);
  opacity: 1;
  transition: all .5s ease-out;
}

.work-title{
  font-size: 16px;
}

.work-img{
  display: block;
  width: 280px;
  height: 280px;
  z-index: 1000;
  margin: auto;
}

.work-shadow{
  width: 280px;
  height: 30px !important;
  transform: translateY(-10px);
  z-index: -1000;
}

.work-desc{
  padding: 20px;
}

.blankspace{
  width:100%;
  height: 100px;
  clear: both;
}

.contextmenu{
  position: absolute;
  text-align: center;
  top: 400px;
  left: 0;
  color: white;
  transform: translate(-1000px,-300px);
  z-index:1000;
  transition: transform .3s;
}
.contextmenu.onscreen{
  transform: translate(0px,-300px);
}

.contextmenu div{
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  border-bottom: solid 2px white;
  background-color: black;
  cursor: pointer;
  font-family: zian;
}
.contextmenu div:hover{
  background-color: #00c3c6;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.contextmenu div.active{
  background-color: #00c3c6;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.contextmenufixed{
  position: fixed;
  top:0;
  transform: none !important;
}

@media screen and (max-width:1500px){
  .contextmenu{
    display: none;
  }
}

@media screen and (max-width:1000px){
  #headerSectionWork{
    top: -70px;
  }
  .work-div{
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width:750px){
  .work-div{
    width: 100%;
  }
}
